.featured-video {
    height: 80%;
    width: calc(100vw - 160px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .data-container {
        color: white;

        .movie-details {
            display: flex;
            gap: 20px;
        }
    }
}