.trending-container {
    position: fixed;
    bottom: 0;
    right: 0;
    width: calc(100vw - 160px);
    background-color: transparent;
    color: #f1f1f1;
    font-size: 2rem;

    .movie-carousel {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: #040404;
        overflow-x: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        padding-bottom: 1px;

        &::-webkit-scrollbar {
            display: none;
        }

        img {
            height: 25vh;
            width: calc((100% - 7 * 16px) / 8);
            max-height: 296px;
            min-width: 200px;
        }
    }
}