.vertical-nav {
    transition: all 0.3s ease-in-out;

    .backdrop {
        width: 0;
        height: 100vh;
        transition: all 0.3s ease-in-out;
    }

    .content {
        width: 160px;
        height: 100vh;
        background-color: #040404;
        z-index: 9999;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 60px 38px;
        transition: all 0.3s ease-in-out;

        .profile-card {
            display: none;
            width: 0;
        }

        .search-container {
            margin-top: 135px;
            margin-bottom: 18px;
            padding: 15px 0;
            border-radius: 12px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
            color: #F1F1F1;

            &:hover {
                background-color: #3b486d;
            }

            .search-icon-container {
                width: 82px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 30px;
                }
            }

            .label {
                opacity: 0;
                font-size: 0;
                transition: all 0.3s ease-in-out;
            }
        }

        .nav-links {
            display: flex;
            color: #F1F1F1;
            flex: 1;
            flex-direction: column;
            gap: 18px;
            justify-content: center;
            font-size: 2.25rem;
            transition: all 0.3s ease-in-out;

            .nav-link {
                padding: 15px 0;
                border-radius: 12px;
                display: flex;
                align-items: center;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                color: #F1F1F1;
                cursor: pointer;

                &:hover {
                    background-color: #3b486d;
                }

                .nav-icon-container {
                    width: 82px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        height: 30px;
                    }
                }

                .label {
                    opacity: 0;
                    font-size: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .footer-menu {
            display: none;
            width: 0;

            a,
            button {
                padding-left: 20px;
                text-decoration: none;
                background: transparent;
                outline: none;
                border: none;
                font-size: 24px;
                letter-spacing: 4.8px;
                color: #858688;
                text-transform: uppercase;
                font-family: "Tajawal", sans-serif;
                width: 100%;
                text-align: left;
                border-radius: 12px;
                font-weight: bold;

                &:hover {
                    color: #F1F1F1;
                    background-color: #3b486d;
                }
            }
        }

        &:hover~div {
            background: linear-gradient(90deg, rgba(4, 4, 4, 1) 40%, rgba(4, 4, 4, 0.01) 100%);
            position: absolute;
            top: 0;
            left: 0;
            width: 50vw;
            height: 100vh;
            z-index: 1;
        }

        &:hover {
            width: 388px;

            .profile-card {
                display: flex;
                width: auto;
                align-items: center;
                margin-bottom: 18px;

                .user-image {
                    border-radius: 50%;
                    width: 82px;
                    height: 82px;
                }

                .user-name {
                    font-size: 32px;
                    font-weight: bold;
                    color: #F1F1F1;
                    padding: 20px;
                }
            }

            .footer-menu {
                display: flex;
                width: auto;
                flex-direction: column;
                gap: 24px;
                align-items: flex-start;
            }

            .search-container {
                margin-top: 0;

                .label {
                    opacity: 1;
                    font-size: 36px;
                    padding: 0 20px;
                }
            }

            .nav-links {
                flex: auto;

                .nav-link {
                    .label {
                        opacity: 1;
                        font-size: 36px;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}